/* global.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    h1 {
        @apply text-4xl font-semibold;
    }
    h2 {
        @apply text-3xl font-semibold;
    }
    p {
        @apply text-base;
    }

    .text-green-custom{
        color: #31C48D;
    }

    /*
    * Light mode background color
     */
    .bg-light-color {
        background-color: #F3FCF9;
    }

    /*
    * Green background color
     */
    .bg-green-color {
        background-color: #31C48D;
    }

    /*
    * Dark mode background color
     */
    .bg-dark-color {
        @apply bg-zinc-800;
    }

    /*
    * Light mode navbar color
     */
    .navbar-light-color {
        background-color: #31C48D;
    }

    /*
    * Dark mode navbar color
     */
    .navbar-dark-color {
        @apply bg-zinc-500;
    }

    /*
    * Light mode button color
     */
    .button-light-color {
        @apply bg-slate-300;
    }

    /*
    * Green button color
     */
    .button-green-color {
        background-color: #31C48D;
    }

    /*
    * Dark mode button color
     */
    .button-dark-color {
        @apply bg-zinc-600;
    }

    /*
    * Light mode form color
     */
    .form-light-color {
        @apply bg-slate-100;
    }

    /*
    * Dark mode form color
     */
    .form-dark-color {
        @apply bg-zinc-700;
        /*
        background-color: #282828;

         */
    }

    /*
    *  Light mode border color
     */
    .border-light-color {
        @apply border-slate-100;
    }

    .form-light-button {
        background-color: #5c5850;
    }

    .light-container {
        @apply border-slate-100;
    }

    .dark-container {
        @apply bg-zinc-700;
    }



}
